.button {
    background-color: #FF4500;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 12px;
}

.delete {
    width: 48px;
}