.BookMarks {
  text-align: center;
}
.error{
   color: red; 
}

.clearList {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 40%;
    margin: auto;
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    } 
}